<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@1/css/pico.min.css">
    <link href="css/site.css" rel="stylesheet" />
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
</body>
</html>
