@inherits LayoutComponentBase
@inject AuthService authService

<PageTitle>@Env.Get("APP_NAME")</PageTitle>

<CascadingValue Value="this">
    <NavMenu />
    <main class="container">
        @Body
    </main>
</CascadingValue>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }
    public User? User = new User();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;

        if (authState.User.Identity.IsAuthenticated)
        {
            User = await authService.GetAuthenticatedUser();
        }
    }

    public event Action? RefreshRequested;
    public void RequestRefresh() => RefreshRequested?.Invoke();
}