<nav class="container" x-data="{ desktopMenuOpen: false, mobileMenuOpen: false }">
	<ul>
		<li>
			<a href="/" class="contrast">
				<ApplicationLogo />
			</a>
		</li>
	</ul>
	<ul>
		<AuthorizeView>
			<Authorized>
					<button style="background-color: seagreen;margin: 10px;padding: 10px;" class="primary m-2">@user.Balance.ToString("C")</button>
				<li>
					<details role="list" dir="rtl">

						<summary aria-haspopup="listbox" role="link">Account</summary>
						<ul role="listbox">
							<li><a href="/dashboard">Dashboard</a></li>
							<li><a href="/profile/edit">Profile</a></li>
							<li><a href="/logout">Logout</a></li>
							<li><small>@user.Name</small></li>

						</ul>
					</details>
				</li>
			</Authorized>
			<NotAuthorized>
				<li><a href="/login">Login</a></li>
				<li><a href="/register" role="button">Register</a></li>
			</NotAuthorized>
		</AuthorizeView>
	</ul>
</nav>

@code {
	[CascadingParameter]
	public MainLayout? Layout { get; set; }
	private User? user => Layout.User;

	protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
		Layout.RefreshRequested += StateHasChanged;
    }
}